@import "abstracts/variables";

@import "layout/nav";
@import "layout/footer";

@import "partials/content";
@import "partials/login";
@import "partials/ngFader";
@import "partials/forms";
@import "partials/carousel";
@import "partials/search";
@import "partials/services";
@import "partials/favorites";



body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: $lighter-blue;
}

.container--main {
  flex: 0 1 80%;
  display: flex;
  align-items: center;
}

app-nav {
  
}