

<div class="carousel-content" ng-controller="CarouselCtrl">

  
    <div class="container">
        <div class="content">
            
            <!-- <script type="text/ng-template" id="tpl.html">
                <h3>{{ i.label }}</h3>
            </script>

            <script type="text/ng-template" id="tpl2.html">
                <h3 class="carousel-title">{{ i.title }}</h3>
                <img class="carousel-img" src="{{ i.img }}">
           </script> -->

            <!-- <slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded" dots="true">
                <div ng-repeat="i in number1 track by $index">
                    <div class="" ng-include="'tpl2.html'"></div>
                </div>
            </slick> -->
     <!--        
            <div class="col-md-9">           
  <slick autoplay="true" autoplaySpeed="500" fade="true" dots="true">
    <div ng-repeat="image in images">
      <img data-lazy="{{image}}">
      <div ng-bind="captions[$index]"></div>
    </div>
  </slick>
</div> -->

           <!--  <slick autoplay="true" autoplaySpeed="500" fade="true" dots="true">
                <figure ng-repeat="image in images">
                    <img class="carousel-img" data-lazy="{{image}}">
                    <figcaption ng-repeat"caption in captions">{{caption}}</figcaption>
                </figure>
            </slick> -->


<!-- <section class="home-section1"> -->
 <div class="slider slick-initialized slick-slider"><!--banner-->
    <div class="slick-list draggable" tabindex="0">
        <div class="slick-track">
            <div class="slick-slide slide slide--has-caption">
                <img src="http://photos.petfinder.com/photos/pets/35377943/1/?bust=1466206949&width=500&-x.jpg" alt="slide 1" />
                <div class="slide-caption"><h3>Dog of the Week:<br> Electra<h3></div>
            </div>
      
            <div class="slick-slide slide slide--has-caption">
                <img src="https://raw.githubusercontent.com/pegsbenedict/demos/master/img/slider2-funders.jpg" alt="slide 2" />
                <div class="slide-caption">Copy addressing our funders
            </div>
            </div>
            <div class="slick-slide slide slide--has-caption">
                <img src="https://raw.githubusercontent.com/pegsbenedict/demos/master/img/slider3-americorps.jpg" />
                <div class="slide-caption">Copy addressing potential AmeriCorps members
            </div>
            </div>
        </div>  
    </div>
  <!-- </div> -->
<!-- <div class="slick-nav"><!--banner nav-->
  <!-- <div class="inner slider-nav slick-initialized slick-slider">
    <div class="slick-list" tabindex="0">
       <div class="slick-track">
           <div class="slick-slide slick-cloned">
             <h2>Our Mission</h2>
           </div>
           <div class="slick-slide slick-cloned">
             <h2>For Our Funders</h2>
           </div>
           <div class="slick-slide slick-cloned">
             <h2>AHS & AmeriCorps Partnership</h2>
           </div>
      </div>
    </div>
  </div> -->
 <!-- </div> -->
 </section>
        </div>
    </div>




</div>