<div class="navbar-fixed" ng-controller="LoginCtrl">
  <nav>
    <div class="nav-wrapper grey lighten-4">
      <div class="left">
        <a href="#!" class="brand-logo nav-logo"><img src="./img/MACC-nav-logo.png"</a>
      </div>
      
     <ul class="right hide-on-med-and-down">
        <li><a class="nav-link" href="/#/welcome">Search</a></li>
        <li><a class="nav-link" href="/#/services">Other Services</a></li>
        <li><a class="nav-link" href="/#/login">Log In</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="nav-link" href="/#/welcome">Search</a></li>
        <li><a class="nav-link" href="/#/services">Other Services</a></li>
        <li><a class="nav-link" href="/#/login">Log In</a></li>
        
      </ul>
      <a href="#" class="button-collapse nav-hamburger nav-link" data-activates="mobile-demo" data-sidenav="left" data-menuwidth="325" data-closeonclick="true">
    <i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
  </nav>
</div>
