<div class="search-content" ng-controller="SearchCtrl">

  <div ng-show="isSearching">
    <h2>Find a Pet</h2>
    <div class="row">
      <div input-field class="col s12 l4 offset-l4">
        <select ng-model="select.value" material-select>
          <option value="" disabled selected>Select Pet Type (Required)</option>
          <option ng-repeat="value in select.choices">{{value}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div input-field class="col s12 l4">
        <select ng-model="sizes.value" material-select>
            <option value="" disabled selected>Size (Optional)</option>
            <option ng-repeat="value in sizes.choices">{{value}}</option>
        </select>
      </div>

      <div input-field class="col s12 l4">
        <select ng-model="ages.value" material-select>
            <option value="" disabled selected>Age (Optional)</option>
            <option ng-repeat="value in ages.choices">{{value}}</option>
        </select>
      </div>

      <div input-field class="col s12 l4">
        <select ng-model="sexes.value" material-select>
            <option value="" disabled selected>Sex (Optional)</option>
            <option ng-repeat="value in sexes.choices">{{value}}</option>
        </select>
      </div>
    </div>

      <div class="col s12 l2" ng-click="displayPets()">
      <button class="btn waves-effect waves-light" name="action">Search
        <i class="fa fa-arrow-right right"></i>
      </button>
      </div>

</div>
    

  <div class="row" ng-show="showPets">
    <h4>Displaying {{animalsToDisplay.length}} Results</h4>
    <ul>
      <li ng-repeat="pet in animalsToDisplay">
        <div class="col s12 l4">
          <h5>{{pet.name.$t}}</h5>
          <img ng-src="{{pet.media.photos.photo[3].$t}}">
        </div>
      </li>
    </ul>
  </div>

    </div>

