<div class="services-content">
  <h2 class="services-text">Other Services</h2>
  <div class="services-row row">
  <ul class="services-collapse col s8 offset-s2" data-collapsible="accordion" watch>
      <li ng-repeat="single in collapsibleElements">
          <div class="collapsible-header services-text">{{single.title}}</div>
          <div class="collapsible-body services-text"><div>{{single.content}}</div></div>
      </li>
  </ul>
  </div>

  <footer class="footer-spacing orange darken-3" ng-show="!showPets" ng-include="'./partials/footer.html'"></footer>
</div>