@import "../abstracts/variables";

nav {
  display: flex;
  height: 7.5rem;
  justify-content: space-between;
  background-color: $nav-grey;
  border-bottom: 5px solid $background-blue;

  @media only screen and (max-device-width: 450px) {
    justify-content: center;
  }
}

.nav-logo {
  display:flex;
  justify-content: center;
  align-items: center;

  img {
    padding: 0px 20px;
    max-height: 6rem;
    
    @media only screen and (max-device-width: 450px) {
      padding: 0;
    }
  }
}

.nav-links--default {
  display:flex;
  align-items: flex-end;
  padding-right: 1rem;

  @media only screen and (max-device-width: 450px) {
    display: none;
  }
}

.nav-link {
  color: $main-orange;
  font-size: 1.25rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  line-height: 2.25em;
  margin: 0 5px;

  &:hover {
    color: $nav-grey;
    background-color: $main-orange;
  }
}

.nav-hamburger {
  margin-left: 10px;
}

nav .button-collapse i {
  font-size: 3.5rem;
  margin-left: 30px;
  margin-top: -20px;
}

.side-nav {
  a {
    color: $main-orange;
    font-size: 20px;
  }
  li {
    height: 60px;
    background-color: $nav-grey;
    // border: 1px solid $background-blue;
    border-radius: 10px;
    margin-top: 40px;
  }
}

.paw {
  font-size: 34px;
  min-width: 105px;
  margin: 51px 15px 0px 10px;
}

.paw:hover {
  margin: 51px 15px 0px 10px;
}

.paw-drop {
  margin: 110px 0px 25px 10px;
  border: 2px solid $main-orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 105px;

  li a {
    color: $main-orange;
  }
}
