@import "../modules/color";

body {
  background-color: $lighter-blue;
}

@media (max-width: 600px) {
  .standard-view {
    display: none;
  }
}

@media (min-width: 600px) {
  .mobile-view {
    display: none;
  }
}