@import "../modules/color";

.search-content {
  position: relative;
  top: 115px;
  background-color: $lighter-blue;
}

.search-result-img {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid $lighter-blue;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.03),0 2px 10px 0 rgba(0,0,0,0.09);
}

.search-card {
  border-radius: 10px;
}

.search-pet-title {
  padding: 5px 0px;
  background-color: $lighter-orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: $text-color;
}

.search-button {
  margin-top: 20px;
  margin-bottom: 20px;
}