@import "../modules/color";

.search-content {
  position: relative;
  top: 70px;
  background-color: $lighter-blue;
}

.search-result-img {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid $lighter-blue;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.03),0 2px 10px 0 rgba(0,0,0,0.09);
}

.search-card {
  border-radius: 10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.25);
  margin: 11px 0px;
}

.search-pet-title {
  padding: 5px 0px;
  background-color: $lighter-orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 3px solid $main-orange;
  color: $text-color;
  font-family: 'Work Sans', sans-serif;
}

.search-button {
  margin-bottom: 20px;
}

.search-height-fix {
  max-height: 540px;
}

.search-heading {
  font-family: 'Work Sans', sans-serif;
}

.select-dropdown {
  color: $text-color;
}

.dropdown-content li>span {
  color: $main-orange;
}

.selected-pet {
  border-top: 2px solid $background-blue;
  border-bottom: 2px solid $background-blue;
  font-family: 'Work Sans', sans-serif;
  background-color: $nav-grey;
  img {
    border-radius: 10px;
    border: 2px solid $lighter-orange;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.25);
  }
}

.selected-pet-button {
  margin-top: 20px;
}