<div class="search">
  <div class="search-title">
    <h4>Search Available Pets</h4>
  </div>
  <div class="search-form">
    <select>
      <option disabled selected value="">Pet Type (Required)</option>
    </select>
    <select>
      <option disabled selected value="">Size (Optional)</option>
    </select>
    <select>
      <option disabled selected value="">Age (Optional)</option>
    </select>
    <select>
      <option disabled selected value="">Sex (Optional)</option>
    </select>
    <button class="btn waves-effect waves-light search-button">Submit</button>
  </div>
</div>