@import "../abstracts/variables";

.search {
  background-color: $nav-grey;
  height: 65vh;
  width: 50%;
  border-radius: 7.5px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;

  @media only screen and (max-device-width: 700px) {
    width: 85%;
  }
}

.search-title {
  border-top-right-radius: 7.5px;
  border-top-left-radius: 7.5px;
  background-color: $main-orange;
  color: white;
}

.search-form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.search-form button, .results-container button {
  display: initial;
  background-color: $main-orange;

  &:focus {
    background-color: $background-blue;
  }
}

.search-button:hover {
  background-color: $lighter-orange;
}

.search-form select {
  border: 2px solid $background-blue;
  border-radius: 5px;
  display: initial;
  width: 80%;
  &input :focus {
    border: none;
  }
}

.search-results {
  margin-top: auto;
  display: flex;
  flex-flow: row wrap;
  width: 80;
  justify-content: space-between;

  @media only screen and (max-device-width: 700px) {
    justify-content: center;
  }
}

.result {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 20px;
  flex: 0 0 30%;

  @media only screen and (max-device-width: 700px) {
    flex: 0 0 80%;
  }

}

.bg-test {
  border-radius: 5px;
  padding-top: 15px;
  background-color: $nav-grey;
}

.result img {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  border: 2px solid $lighter-blue;
  max-width: 80%;
}

.result-nameplate {
  border-top: 2px solid $main-orange;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $lighter-orange;
  color: black;
}

.results-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.match-text {
  background-color: $background-blue;
  color: white;
}

.search-button {
  width: 70%;
  align-self: center;
}

.button--lower {
  margin-bottom: 20px;
}

.detail__container {
  background-color: $nav-grey;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.25);
}

.detail__profile {
  flex: 1 1 50%;
}